%article#dashboard

  %p Добро пожаловать на маленький сервис, единственной задачей которого является предоставление данных <a href="http://info.russianpost.ru/database/ops.html">базы почтовых индексов ФГУП «Почта России»</a>. Удобно для встраивания на сайты!

  %h2 Что это?

  %p Это маленький веб-сайт, который предоставляет вам доступ к базе почтовых индексов от «Почты России» в виде <a href="http://ru.wikipedia.org/wiki/JSON">JSON</a> <a href="http://ru.wikipedia.org/wiki/API">API</a>. Бесплатно.

  %p Можно использовать для:
  %ol
    %li автоматического заполнения адреса (область, город) по введённому индексу,
    %li для проверки ранее введённого адреса,
    %li для выявления или предотвращения ввода устаревших индексов (они устаревают на ходу!).

  %p Важное объявление: база адресов используется как есть, без внесения каких либо изменений. По поводу любых неточностей, ошибок, пожеланий, добавлений — сообщайте в «Почту России».

  %h2 Попробуйте сами!
  %p Введите (свой) почтовый индекс и подождите, пока запрос сделает кругосветку! Не знаете, какой индекс ввести? Попробуйте 676200!
  %form#address_form
    %table
      %tr
        %td
          %label{for: 'address_postcode'} Почтовый индекс
        %td
          %input.postcode_field{name: 'address[postcode]', id: 'address_postcode'}
          %p.description После ввода почтового индекса, поля «область», «район» и «город» заполняются автоматически.
      %tr
        %td
          %label{for: 'address_region'} Область/край/республика
        %td
          %input.region_field{name: 'address[region]', id: 'address_region'}
      %tr
        %td
          %label{for: 'address_autonom'} Автономная область
        %td
          %input.autonom_field{name: 'address[autonom]', id: 'address_autonom'}
      %tr
        %td
          %label{for: 'address_area'} Район
        %td
          %input.area_field{name: 'address[area]', id: 'address_area'}
      %tr
        %td
          %label{for: 'address_city'} Город/село
        %td
          %input.city_field{name: 'address[city]', id: 'address_city'}
    %button{type: :reset} Очистить форму

  %h2 Как использовать.

  %p В качестве примера примем, что вы хотите встроить автозаполнение адреса по почтовому индексу на веб-сайт.

  %p Сделайте форму, как показано ниже

  %pre.code&= haml :form_example

  %p Приправьте её javascript'ом (пример с использованием <a href="http://jquery.com/">jQuery</a>).

  %pre.code&= File.read('static/example.js').to_s

  %p Используйте на здоровье!

  %h2 А как использовать?
  %p Для получения информации по некоему индексу <code>index</code>, отправьте <a href="http://ru.wikipedia.org/wiki/JSONP">JSONP</a>-запрос на адрес <code>http://postindexapi.ru/&lt;index&gt;.json</code> (где <code>&lt;index&gt;</code> и есть искомый индекс). В параметре <code>callback</code> вы можете передать имя callback-функции, в которую будет обёрнут ответ.
  %p В ответ придёт JSON-объект со следующими свойствами:
  %dl
    %dt index
    %dd Почтовый индекс объекта почтовой связи в соответствии с действующей системой индексации
    %dt ops_name
    %dd Наименование объекта почтовой связи
    %dt ops_type
    %dd Тип объекта почтовой связи
    %dt ops_subm
    %dd Индекс вышестоящего по иерархии подчиненности объекта почтовой связи
    %dt region
    %dd Наименование области, края, республики, в которой находится объект почтовой связи
    %dt autonom
    %dd Наименование автономной области, в которой находится объект почтовой связи
    %dt area
    %dd Наименование района, в котором находится объект почтовой связи
    %dt city
    %dd Наименование населенного пункта, в котором находится объект почтовой связи
    %dt city_1
    %dd Наименование подчиненного населенного пункта, в котором находится объект почтовой связи
    %dt act_date
    %dd Дата актуализации информации об объекте почтовой связи
    %dt index_old
    %dd Почтовый индекс объект почтовой связи до ввода действующей системы индексации

  %script{src: url('/example.js')}
