<form id="address_form">
<input name="address[postcode]" id="address_postcode" class="postcode_field">
<input name="address[region]"   id="address_region"   class="region_field"  >
<input name="address[autonom]"  id="address_autonom"  class="autonom_field" >
<input name="address[area]"     id="address_area"     class="area_field"    >
<input name="address[city]"     id="address_city"     class="city_field"    >
</form>