upstream postindexapi {
  server unix:///home/piapi/postindexapi/shared/sockets/puma.sock;
}

# Redirect from www to non-www
server {
  listen 80;
  listen 443 ssl;
  keepalive_timeout   70;
  server_name www.postindexapi.ru;
  ssl_certificate     /home/piapi/postindexapi.ru.chained.crt;
  ssl_certificate_key /home/piapi/postindexapi.ru.key;
  return 301 $scheme://postindexapi.ru$request_uri;
}

server {
  listen 80;
  listen 443 ssl;
  keepalive_timeout   70;
  server_name postindexapi.ru;
  root /home/piapi/postindexapi/current/static;
  charset utf-8;

  ssl_certificate     /home/piapi/postindexapi.ru.chained.crt;
  ssl_certificate_key /home/piapi/postindexapi.ru.key;

  location / {
    try_files $uri/index.html $uri.html $uri @postindexapi;
  }

  if (-f $document_root/system/maintenance.html) {
    return 503;
  }
  error_page 503 @maintenance;
  location @maintenance {
    rewrite  ^(.*)$  /system/maintenance.html break;
    break;
  }

  location @postindexapi {
    proxy_pass http://postindexapi;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_read_timeout 10s;
    gzip on;
  }

  error_page 500 502 504 /500.html;

  location /500.html {
    root /home/piapi/postindexapi/current/static;
    autoindex off;
  }

  access_log /home/piapi/postindexapi/shared/production.access.log;
  error_log /home/piapi/postindexapi/shared/production.error.log info;

  location ~* \.(ico|css|js|gif|jpe?g|png)$ {
    gzip_static on;
    add_header Cache-Control public;
    break;
  }

}
